<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Kendo Mvc 2016.3.1118" value="C:\Program Files (x86)\Telerik\UI for ASP.NET Core R3 2016\wrappers\aspnetcore\Binaries\AspNet.Core" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Syncfusion ASP.NET Core" value="http://nuget.syncfusion.com/nuget_aspnetcore/nuget/getsyncfusionpackages/aspnetcore" />
    <add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
    <add key="Telerik" value="https://nuget.telerik.com/nuget" />
    <add key="myget" value="https://www.myget.org/F/aspnet-contrib" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <disabledPackageSources>
    <add key="Kendo Mvc 2016.3.1118" value="true" />
    <add key="Syncfusion ASP.NET Core" value="true" />
    <add key="aspnet-contrib" value="true" />
    <add key="Telerik" value="true" />
  </disabledPackageSources>
</configuration>