<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <system.web>
    <globalization
       fileEncoding="UTF-8" 
      requestEncoding="UTF-8" 
      responseEncoding="UTF-8"
      />
  </system.web>
  <appSettings>
    <add key="filesCatalogPath" value="c:\tmp\"/>
    <add key="czyProdukcyjny" value="false"/>
    <add key="runasservice" value="true"/>
  </appSettings>
</configuration>
